<div class="row">
  <div class="col-xs-12">
    <form action="" #f="ngForm" (ngSubmit)="onAddItem(f)">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            name="name"
            type="text"
            id="name"
            class="form-control"
            ngModel
            required
          />
        </div>
        <div class="col-sm-2 form-group">
          <div class="amount">Amount</div>
          <input
            name="amount"
            type="number"
            id="amount"
            class="form-control"
            ngModel
            #amountInput
            required
            pattern="^[1-9]+[0-9]*$"
          />
        </div>
        <div class="col-sm-2 form-group">
          <div class="unit">Unit</div>
          <input
            name="unit"
            type="text"
            id="unit"
            class="form-control"
            ngModel
          />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="!f.valid && f.touched"
          >
            {{ editMode ? "Update" : "Add" }}
          </button>
          <button
            class="btn btn-primary"
            type="button"
            (click)="onDelete()"
            *ngIf="editMode"
          >
            Delete
          </button>
          <button class="btn btn-danger" type="button" (click)="onClear()">
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
