<div class="row">
  <div class="col-12">
    <form action="" #f="ngForm" (ngSubmit)="onAddItem(f)">
      <div class="row">
        <div class="col-sm-3 mb-3">
          <label class="form-label" for="name">Name</label>
          <input
            name="name"
            type="text"
            id="name"
            class="form-control"
            ngModel
            required
          />
        </div>
        <div class="col-sm-2 mb-3">
          <label class="form-label" for="amount">Amount</label>
          <input
            name="amount"
            type="number"
            id="amount"
            class="form-control"
            ngModel
            #amountInput
            required
            pattern="^[1-9]+[0-9]*$"
          />
        </div>
        <div class="col-sm-2 mb-3">
          <label class="form-label" for="unit">Unit</label>
          <input
            name="unit"
            type="text"
            id="unit"
            class="form-control"
            ngModel
          />
        </div>
        <div class="col-sm-5 my-auto">
          <button
            class="btn btn-outline-primary me-2"
            type="submit"
            [disabled]="!f.valid && f.touched"
          >
            <i
              [ngClass]="
                editMode ? 'fa-solid fa-pen-to-square' : 'fa-solid fa-plus'
              "
            ></i>
            {{ editMode ? "Update" : "Add" }}
          </button>
          <button
            class="btn btn-outline-warning me-2"
            type="button"
            (click)="onClear()"
          >
            <i class="fa-solid fa-xmark"></i> Clear
          </button>
          <button
            class="btn btn-outline-danger"
            type="button"
            (click)="onDelete()"
            *ngIf="editMode"
          >
            <i class="fa-solid fa-trash-can"></i>
            Delete
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
